body {
  background-color: transparent !important;
}
body, html, #root {
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: hidden;
}
.drag_region {
  -webkit-app-region: drag;
}

.no_drag {
  -webkit-app-region: no-drag;
}

/* Estilos comunes para todas las scrollbars */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
  transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

/* Modo oscuro: puedes usar una clase global como .dark-mode en <body> */
body.dark-mode ::-webkit-scrollbar-thumb {
  background-color: rgba(180, 180, 180, 0.3);
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(180, 180, 180, 0.5);
}


.card-glass {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  transition: background 0.3s ease, border 0.3s ease;
  margin: 10px 10px 0px 10px;
}


